body, html {
    color: white;
}

* {

}

body {
    overflow: hidden;
    padding-top: 32px;
    margin: 0px;
    padding: 0px;
    background-image: url("http://www.clipartkid.com/images/707/twinkling-stars-animated-gif-twinkle-stars-gif-twinkle-xCsqAI-clipart.jpg");
    background-position: center 32px;
    background-repeat: repeat;
    background-size: 500px 300px;
    background-clip: 10px 10px;
}

#toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-image: url("toolbarbg.png");
    background-color: #ebe7d2;
    height: 29px;
    width: 100%;
    padding: 3px 3px 0px 3px;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
#toolbar .logo {
    float: left;
    margin: 0px 6px 0px 2px;
}
#toolbar * {
    float: left;
}
input[type='text'] {
    float: left;
    height: 24px;
    border: 2px solid #BCB8A9;
    border-bottom-color: #DBD6C5;
    border-right-color: #DBD6C5;
    border-style: groove;
    outline: none;
    padding: 0px 4px;
    font-family: courier, sans-serif;
}
#search {
    width: 200px;
    margin: 0px 6px 0px 2px;
}
a.button {
    float:left;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    background-color: rgba(127, 127, 127, 0.1);
    text-decoration: none;
    color: #000;
    border: 2px solid #777;
    border-top-color: #ccc;
    border-left-color: #ccc;
    border-style: groove;
    border-radius: 5px;
    font-family: courier, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 6px;
    margin-top: -1px;
}
a.button:hover {
    background-color: rgba(200, 200, 200, 0.1);
}
a.button:active {
    background-color: rgba(127, 127, 127, 0.2);
    border-color: #777 #ccc #ccc #777;
}
#toolbar select {
    height: 24px;
    line-height: 24px;
    background: none;
    border: none;
    outline: none;
    margin: 0px 2px 0px 6px;
    font-family: courier;
}
#toolbar select option {
    background-color: #C2BFC0;
    color: #000;
}
#toolbar select option:hover {
    color: #000;
}
#toolbar p {
    display: inline-block;
    margin: 1px 2px 0px 2px;
    color: #000;
}
#toolbar select#mail {
    width: 89px;
}
#toolbar select#menu {
    float: right;
    width: 65px;
    margin: 0px 4px 0px 4px;
}
#toolbar .button.norm {
    height: 22px;
    border-radius: 0px;
    border: 1px solid #888;
}
#toolbar #home {
    float: right;
    background-image: url("home.png");
    background-repeat: no-repeat;
    background-position: 4px center;
    padding-left: 30px;
    margin-right: 4px;
}
#toolbar #chat {
    float: right;
    margin-right: 12px;
    display: none;
}

#content {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 32px);
    margin-top: 32px;
    overflow: auto;
    position: relative;
    z-index: 300;
}

h1 {
    text-align: center;
    text-shadow: 3px 3px 10px yellow;
    animation: wobble 5s infinite;
    margin-bottom: 40px;
}


*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #E3E3E5;
}

*::-webkit-scrollbar-thumb {
    background: #C3C7CB;
    border: 3px solid green;
    border-bottom-color: rgba(0,0,0,0.8);
    border-right-color: rgba(0,0,0,0.8);
    border-top-color: rgba(255,255,255,0.6);
    border-left-color: rgba(255,255,255,0.6);
}
*::selection {
    background-color: #01017E;
    color: #fff;
}


#imgs {
    text-align: center;
}
img {
    position: relative;
    z-index: 0;
}

@keyframes wobble {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 30px;
    }
    50% {
        margin-left: 0;
    }
    75% {
        margin-left: -30px;
    }
    100% {
        margin-left: 0
    }
}

#aboot {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
}

#aboot h3 {
    text-align: center;
    color: orange;
}

ul li {
    list-style-type: none;
    margin-top: 10px;
}

ul li:before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 10px;
    background-image: url("http://dinostomatopie.com/images/tball.gif");
    background-repeat: no-repeat
}

footer {
    margin-top: 50px;
    text-align: center;
}

footer hr {
    width: 80%;
    max-width: 400px;
    border-color: greenyellow;
    animation: colors 5s infinite;
    border-width: 3px;
    margin-bottom: 10px;
}

@keyframes colors {
    0% {
        border-color: greenyellow;
        color: greenyellow;
    }
    25% {
        border-color: mediumvioletred;
        color: mediumvioletred;
    }
    50% {
        border-color: yellow;
        color: yellow;
    }
    75% {
        border-color: deeppink;
        color: deeppink;
    }
    100% {
        border-color: paleturquoise;
        color: paleturquoise;
    }
}

#bios {
    width: 80%;
    max-width: 500px;
    margin: 50 auto;
}

#bios h4 {
    font-size: 20px;
    margin: 0;
}

#efe h4 {
    color: #ff00ff;
    font-family: courier, sans-serif;
}

#ram h4 {
    color: #00ff00;
    font-family: courier, sans-serif;
}

#room {
    text-align: center;
}

#room h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

#room img {
    width: 300px;
}

#room h4:after{
    content: '';
    display: inline-block;
    background-image: url("http://www.instanet.com/icons/new01.gif");
    height: 30px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotato 5s infinite;
    margin-left: -8px;
}

@keyframes rotato {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.mouseTrail {
    background-color: red;
    height: 3px;
    width: 3px;
    border-radius: 2px;
    position: fixed;
    top: 0px;
    left: 0px;
    mouse-events: none;
    z-index: 1;
}

footer a {
    color: red;
}

footer a:hover {
    color: crimson;
}

#mininetscape {
    background-color: #fff;
    position: fixed;
    top: 32px;
    left: 0px;
    z-index: 900;
    width: 100vw;
    height: 100%;
    height: calc(100% - 32px);
    border: none;
    display: none;
}
